<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Login page</title>
	<meta charset="utf-8"/>
</head>
<body>
<h1>Login page</h1>
<p>Example user: user / password</p>
<form th:action="@{/login}" method="post">
	<label for="username">Username</label>:
	<input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
	<label for="password">Password</label>:
	<input type="password" id="password" name="password"/> <br/>
	<input type="submit" value="Log in"/>
</form>
<p><a href="/otp/authenticate" th:href="@{/otp/authenticate}">Login without password</a></p> <!-- this should be added to the default login page -->
</body>
</html>
