<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Passwordless Login</title>
	<meta charset="utf-8"/>
</head>
<body>
<h1>Passwordless Login</h1>
<form th:action="@{/login/otp}" method="post">
	<label for="token">Token</label>:
	<input type="text" id="token" name="token" autofocus="autofocus"/> <br/>
	<input type="hidden" id="username" name="username" value="user"/> <br/>
	<input id="submit" type="submit" value="Login"/>
</form>
<p><a href="/login" th:href="@{/login}">Back to login</a></p>
<script>
	window.onload = () => {
		const urlParams = new URLSearchParams(window.location.search)
		const token = urlParams.get('token')
		const username = urlParams.get('username')
		if (!token || !username) {
			return;
		}
		document.getElementById('token').value = token
		document.getElementById('username').value = username
		document.getElementById('submit').click()
	}
</script>
</body>
</html>
