<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Passwordless Login</title>
	<meta charset="utf-8"/>
</head>
<body>
<h1>Passwordless Login</h1>
<p>Example user: user</p>
<form method="post" th:action="@{/otp/authenticate}">
	<label for="username">Username</label>:
	<input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
	<input type="submit" value="Send code to console">
	<input type="submit" value="Send magic link console" formaction="/otp/authenticate?magiclink=true"/>
</form>
<p><a href="/login" th:href="@{/login}">Back to login</a></p>
</body>
</html>
